body {
    font-family: Arial, Helvetica, sans-serif;
    columns: #595959;
}

h1, h2 {
    text-align: center;
}

a {
    color: white;
}

img {
    border-radius: 50%;
    max-width: 100%;
    display:block;
    margin:auto;
    padding-top: 10px;
}
.main-container  {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.personal-container {
    background-color:#204060;
    color: white;
    border-radius: 10px;
}

.right-container {
    padding-left: 20px;
    padding-right: 10px;
    background-color: #ecf2f9;
    border-radius: 10px;
}

#container-skills {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.grid div {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.grid h3 {
    color: red
}

.institution {
    color: #204060;
    font-weight: bold;
}

.rol {
    font-size: 90%;
    color: #4d4d4d;
    font-weight: bold;
}

.place-date {
    font-weight: bold;
    font-size: 85%;
    color: #4d4d4d;
}