body {
    font-family: Arial, Helvetica, sans-serif;
    columns: #595959;
}

h1, h2 {
    text-align: center;
}

img {
    border-radius: 50%;
    max-width: 100%;
    display:block;
    margin:auto;
    padding-top: 10px;
}
.main-container  {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.personal-container {
    background-color:#204060;
    color: white;
    border-radius: 10px;
}

#container-skills {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.grid div {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.grid h3 {
    color: red
}